/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
.page-header{
  padding: 1rem;
  padding-top: 3rem;
  background-color: rgba(131, 201, 244, 1);
  margin-bottom: 1rem;
}

.page-header img{
  display: block;
  width: 10rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto
}

.color-menu{
  background-color: rgba(230, 57, 70, 1);
}

.geral {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: rgba(241, 250, 238, 1);
}

.cinza {
  color: rgba(150, 150, 150, 1);
}

/* RESPONSIVE CSS
-------------------------------------------------- */

footer{
  background-color: rgba(131, 201, 244, 1);
  padding: 1rem;
  color: rgba(230, 57, 70, 1);
  margin-top: 1rem;
}

.footer-link{
  color: rgba(230, 57, 70, 1);
  margin: 1em;
}

.footer-link:hover{
  color: #ffffff;
}

.footer-text{
  text-align: center;
}

.nav-item{
  color: #ffffff;
}

.nav-link{
  color: #ffffff;
}

.nav-link:hover{
  color: #e0e0e0;
}

.navbar {
  margin-bottom: 0;
}

.album {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: rgba(241, 250, 238, 1);
}

.card {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  border: .75em solid rgba(131, 201, 244, 1);
}

.card > a > img {
  max-width: 290px;
  width: 100%;
}
