/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
.page-header{
  padding: 1rem;
  padding-top: 3rem;
  background-color: #009ffd;
  margin-bottom: 1rem;
}

.page-header img{
  display: block;
  width: 10rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto
}

.color-menu{
  background-color: #ee4266;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 2rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;

}
.carousel-item > img {
  /*min-width: 100%;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

footer{
  background-color: #009ffd;
  padding: 1rem;
  color: #ffffff;
  margin-top: 1rem;
}

.footer-text{
  text-align: center;
}

.nav-item{
  color: #ffffff;
}

.nav-link{
  color: #ffffff;
}

.nav-link:hover{
  color: #e0e0e0;
}

.navbar {
  margin-bottom: 0;
}

.album {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  padding: .75rem;
  margin: .5rem;
  border: 0;
}

.card > img {
  width: 298px;
}

.card-text {
  font-size: 85%;
}
